.dropdown-wrapper {
  display: flex;
  gap: 5px;
  width: fit-content;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.dropdown-select {
  cursor: pointer;
  width: 180px;
}

.dropdown-title {
  position: absolute;
  top: -25px;
  font-size: 14px;
  overflow: hidden;
}

.dropdown-select__input {
  display: flex;
  padding: 0.5rem 1rem;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.2);
  color: #3D4F6B;
  font-weight: bold;
  font-size: 14px;
  align-items: center;
}

.dropdown-select__input__span {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown-select__input__icon {
  transition: transform 0.2s ease-in-out;
}

.dropdown-select__input__icon.rotate {
  transform: rotate(180deg);
}

.dropdown-select__options-wrapper {
  display: none;
  position: absolute;
  background-color: #fff;
  width: 100%;
  box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.2);
  z-index: 2;
  border-radius: 4px;
  margin-top: 10px;

  &.show {
    display: block;
  }
}

.dropdown-select__options__search {
  display: flex;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #f1f1f1;
}

.dropdown-select__options {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-height: 300px;
  overflow-y: auto;
}

.dropdown-select__options__search-input {
  width: 100%;
  padding: 0.5rem 1rem;
  background: none;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  font-size: 14px;
  color: #3D4F6B;

  &:focus {
    outline: none;
  }
}

.dropdown-item {
  color: #3D4F6B;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  position: relative;

  &:hover {
    background-color: #f1f1f1;
  }
}

.dropdown-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;

  &.show {
    display: block;
  }
}

